*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #f0f8ff;
}

nav{
  background-color: #34caf8;
  text-align: center;
}
nav h1{
  padding: 15px;
}

.createNotes{
  margin-top: 30px;
}
.createNotes form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.createNotes form input{
  padding: 5px;
}

.notesContainer{
  
  width: 80%;
  border-radius: 10px;
  margin: 5% 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  width: 200px;
  height: 300px;
  margin: 30px;
  position: relative;
}

.card h1{
  text-align: center;
  font-size: 1.5rem;
  padding: 20px 0 10px 0;
}

.card p{
  font-size: 1.2rem;
padding: 10px;
}
.card h5{
  position: absolute;
bottom: 25px;
left: 5px;
}
.card h6{
  position: absolute;
bottom: 10px;
left: 5px;
}
.card button{
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
